@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="container">
    <h2>Đăng nhập thành công, chào mừng @Context.User.Identity.Name</h2>
    <a asp-action="LogOut">Đăng xuất</a>
</div>

